*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}
body{
    width: 100%;
}
.w-100-100{
    width: 100%;
}
.h-100-100{
    height: 100%;
}
.inline-block{
    display: inline-block;
}
/* color */
.col-FF0000{
    color: #FF0000;
}
.col-FFFFFF{
    color: #FFFFFF;
}
.col-4169E2{
    color: #4169E2;
}
/* 背景颜色 */
.bg-col-4169E2{
    background-color: #4169E2;
}
.bg-col-FFFFFF{
    background-color: #FFFFFF;
}
.bg-col-F3F3F3{
    background-color: #F3F3F3;
}
.bg-col-EBEBEB{
    background-color: #EBEBEB;
}
.bg-col-2834B9{
    background-color: #2834B9;
}
/* 字体*/
.fn-18{
    font-size: 0.36rem;
}
.fn-16{
    font-size: 0.32rem;
}
.fn-14{
    font-size: 0.28rem;
}
.fn-12{
    font-size: 0.24rem;
}
.fn-0{
    font-size: 0;
}
.fn-w-900{
    font-weight: 900;
}
/* 布局 */
.flex-row{
    display: flex;
}
.flex-1{
    flex: 1;
}
.flex-3{
    flex: 3;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-end{
    /* justify-content: space-around; */
    justify-content: flex-end;
}
.align-items-c{
    align-items: center;   
}
.tx-l{
    text-align: left;
}
.tx-r{
    text-align: right;
}
.tx-c{
    text-align: center;
}
.margin-r-8{
    margin-right: 0.16rem;
}
/* 边距 */
.padding-l-5{
    padding-left: 0.1rem;
}
.padding-l-10{
    padding-left: 0.2rem;
}
.padding-r-5{
    padding-right: 0.1rem;
}
.padding-r-10{
    padding-right: 0.2rem;
}
.padding-t-10{
    padding-top: 0.2rem;
}
.padding-b-10{
    padding-bottom: 0.2rem;
}
.margin-t-10{
    margin-top: 0.2rem;
}
.margin-l-10{
    margin-left: 0.2rem;
}
.margin-r-10{
    margin-right: 0.2rem;
}
.margin-b-10{
    margin-bottom: 0.2rem;
}
/* 圆角 */
.border-r-5{
    border-radius: 0.1rem;
}
.border-r-10{
    border-radius: 0.2rem;
}
li{
    list-style: none;
}
/* 宽 */
.w-1{
    width: 0.02rem;
}
.w-4{
    width: 0.08rem;
}
.w-10{
    width: 0.2rem;
}
/* 高 */
.h-16{
    height: 0.32rem;
}
.h-10{
    height: 0.2rem;
}
.h-32{
    height: 0.64rem;
}
.h-ln-32{
    line-height: 0.64rem;
}
/* 定位 */
.relative{
    position: relative;
}
.text-indent-2{
    text-indent: 2em;
}

